body
{
	background: #333;
	padding: 0;
	margin: 0;
}

#stateTitle
{
	color: #fff;
	margin-top: 10px;
	font-family: -apple-system, "HelveticaNeue-UltraLight", sans-serif;
	font-weight: 200;
	-webkit-font-smoothing: subpixel-antialiased;
	font-size: 27px;
	text-align: center;
}

#updateButton {
	display: block;	
	margin: 10px auto 0px;
}

canvas
{
	display: block;	
	margin: 50px auto 0px;
}